// ######################
// ## Font Variables ####
// ######################
$default-font-size: 1.6rem;
$quote-font-size: clamp(2.4rem, 5vw, 2.8rem);

// ########################
// ## Spacing Variables ###
// ########################

// ######################
// ## Color Variables ###
// ######################
$color-primary-cyan: hsl(193, 38%, 86%);
$color-primary-neon-green: hsl(150, 100%, 66%);

$color-grey-blue: hsl(217, 19%, 38%);
$color-grey-blue-dark: hsl(217, 19%, 24%);
$color-dark-blue: hsl(218, 23%, 16%);
