.loading-spinner {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 24px 0 48px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border-bottom: $color-primary-neon-green 2px solid;
    border-top: transparent 2px solid;
    border-left: $color-primary-neon-green 2px solid;
    border-right: transparent 2px solid;
    padding: none;
    -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
    animation: loading-spinner-spinanim 1.5s infinite linear;
    animation-direction: reverse;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 90px;
    border-bottom: $color-primary-neon-green 2px solid;
    border-top: transparent 2px solid;
    border-left: transparent 2px solid;
    border-right: $color-primary-neon-green 2px solid;
    margin-left: 15px;
    margin-top: 15px;
    -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
    animation: loading-spinner-spinanim 1.5s infinite linear;
    -webkit-animation-direction: normal;
    animation-direction: normal;
  }
}
